#form-div
{
    position: relative;
    left: 30%;
    width: 400px;
    background-color: grey;
    padding:30px;
}
input,select{
    width: 100%;
    display: block;
    padding:10px;
    border-radius: 5px;
    
}
#form-div div{
    margin:10px;
}